@model ShopNuocHoa_Online.Models.Blog

@{
    ViewBag.Title = Html.DisplayFor(model=>model.TieuDe);
}

<section id="row-breadcrumb" style="margin-top:15px;">
    <div class="container">
        <ol class="breadcrumb breadcrumb-instro">
            <li><a href="/"><i class="fa fa-forward" aria-hidden="true"></i>Trang chủ</a></li>
            <li class="active" style="color:#fff">Blog</li>
        </ol>
    </div>
</section>
<section style="margin-top:60px;">
    <div class="container">
        <div class="row">
                    <div class="col-md-5" style="margin-top:20px;">
                        <a href="/">
                            @{
                                string ImagePath = "~/wwwroot/Images/" + Model.Anh;
                            }
                            <img src="@Url.Content(ImagePath)" width="400" height="250" />
                        </a>
                    </div>
                    <div class="col-md-7">
                        <h3>@Html.DisplayFor(model => model.TieuDe)</h3>
                    </div>
            <div class="col-md-8 center-block"style="margin-left:450px;">
            <p>@Html.DisplayFor(model => model.NoiDung)</p>
            </div>
        </div>
    </div>
</section>